@charset "utf-8";

#contents {
	padding:10px 0;
	width:850px;
	position:relative;
}
#contents #kasou {
	padding:0;
}

body#subpage #main {margin: 0 auto;}
#main {
	float:none;
	width:850px;
	overflow:hidden;
}
#main_img h1{
	float:left;
}
#main_img .main_img_rgt{
	float:right;
}

#mos_menu{
	width:766px;
	margin:0 42px;
}
#mos_menu li{
	float:left;
	margin-right:7px;
	margin-bottom:10px;
}
#mos_menu li.last{
	margin-right:0;
}

.price_list_area{
	width:766px;
	margin:10px 42px 20px;
}
.price_list{
	width:100%;
	border-collapse:collapse;
	border-left:1px solid #342015;
	border-top:2px solid #342015;
}
.price_list th{
	color:#342015;
	background:#fde2cd;
	border-right:1px solid #342015;
	border-bottom:2px solid #342015;
	font-weight:bold;
	font-size:12px;
}
.price_list .th01{
	text-align:center;
}
.price_list .th02{
	padding:10px 2px 10px 8px;
}
.price_list .th02 dt{
	font-size:16px;
}
.price_list .th02 dd{
	font-size:12px;
	font-weight:normal;
}
.price_list td{
	color:#342015;
	border-right:1px solid #342015;
	border-bottom:2px solid #342015;
	text-align:center;
	padding:10px 2px;
	font-size:16px;
	font-weight:bold;
}
.und_txt{
	margin:5px 0;
}

.date_area{
	width:766px;
	margin:0 42px 15px;
}
.date{
	float:left;
	width:500px;
	position:relative;
}
div#mos .date h2{
	color:#fff;
	font-size:28px;
	letter-spacing:0.15em;
	padding:3px 10px 0 20px;
	margin-bottom:10px;
	background:#342015;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
}	
.date p{
	color:#fff;
	position:absolute;
	top:8px;
	left:310px;
}	
.time_list{
	width:100%;
	border-collapse:collapse;
	border-left:1px solid #342015;
	border-top:2px solid #342015;
}
.time_list th{
	color:#342015;
	border-right:1px solid #342015;
	border-bottom:2px solid #342015;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.time_list td{
	color:#342015;
	border-right:1px solid #342015;
	border-bottom:2px solid #342015;
	text-align:center;
	padding:10px 2px;
	font-size:16px;
	font-weight:bold;
}
.time_list td.td01{
}
.time_list td .min_txt{
	margin-top:5px;
	font-size:10px;
	font-weight:normal;
}
.map{
	float:right;
	width:241px;
}

.toiawase_btn{
	width:500px;
	margin:0 auto 60px;
}

div#mos {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",Arial, sans-serif;
}
div#mos h2,
div#mos h3,
div#mos h4 {
	margin: 0 0 20px 0;
}
div#mos p {
	font-size: 14px;
	line-height: 2 !important;
	margin: 0 0 10px 0 !important;
	padding: 0 !important;
}
div#mos_kv {
	position: relative;
	width: 636px;
	height: 300px;
	background: url(/images/mos2010/mos_01.jpg) 0 0 no-repeat;
}
div#mos_kv h1 {
	position: absolute;
	top: 247px;
	left: 10px;
	margin: 0;
	padding: 0;
}
p#btn_kv {
	position: absolute;
	top: 254px;
	right: 10px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
}
p#btn_kv a {
	display: block;
	width: 200px;
	height: 30px;
	background: url(/images/mos2010/mos_02.gif) 0 0 no-repeat;
}
p#btn_kv a:hover {
	background-position:  0 -30px;
}
div.mos_section {
	padding: 20px 0 20px 90px;
}
div#mos_01 {
	background: url(/images/mos2010/mos_12.gif) right bottom no-repeat #007CB3;
}
div#mos_02 {
	background: url(/images/mos2010/mos_13.gif) right bottom no-repeat #FF8000;
}
div#mos_03 {
	background: url(/images/mos2010/mos_14.gif) 386px 50px no-repeat #FC6689;
}
p#mos_btn {
}
p#mos_btn a {
	display: block;
	margin: 20px 0 5px 149px !important;
	width: 320px;
	height: 40px;
	text-indent: -9999px;
	background: url(/images/mos2010/mos_16.gif) 0 0 no-repeat;
}
p#mos_btn a:hover {
	background-position: 0 -40px;
}
div#mos_04 {
	background: url(/images/mos2010/mos_15.jpg) right bottom no-repeat #EEEEEE;
}
div#mos_05 {
	background-color: #0059B3;
}
div#mos_06 {
	background-color: #459500;
}
div#mos_05 h3{
	background: url(/images/mos2010/mos_cp_12.gif) left top no-repeat;
	height:70px;
	padding-left:80px;
	font-size:28px;
	font-weight:normal;
}
div#mos_06 h3{
	background: url(/images/mos2010/mos_cp_13.gif) left top no-repeat;
	height:70px;
	padding-left:80px;
	font-size:28px;
	font-weight:normal;
}
div#mos_05 ul,
div#mos_06 ul {
	margin-left: 100px;
	list-style-type: disc !important;
}
div#mos_05 ul li,
div#mos_06 ul li {
	color: #FFF;
	font-size: 12px;
	list-style-type: disc !important;
	width:300px;
	float:left;
}
div#mos_07 {
	background-color: #FF8000;
	margin-bottom: 20px;
}
div#mos_08 {
	border-top: 10px solid #00003B;
	background-color: #EEEEEE;
	padding-top: 20px;
	margin-bottom: 40px;
}
div#mos_09 {
	background-color: #FF8000;
}
.pdgLR15 {
	padding-left:15px;
	padding-right:15px;
}
.fc_white {
	color: #FFF !important;
}
.fc_gray {
	color: #666 !important;
}

#toiawase_form{
	width:100%;
	margin:0 auto;
}
#toiawase_form .tel{
	text-decoration:none;
	color:red;
}
#toiawase_form label{
	display:block;
	margin-bottom:5px;
}
#toiawase_form .form_input01{
	width:350px;
}
#toiawase_form .form_input02{
	width:200px;
}
