@charset "UTF-8";
/* サーティファイ ビジネス実践講座 */
#certify { color:#000; background: none; border-bottom: none; padding: 0; font-family:"メイリオ", Meiryo, Osaka;}
#certify .c-contents{ background-color:#EEEEEF; padding-bottom:80px;}
#certify .c-div1000 { width: 1000px; margin-left: auto; margin-right: auto;}
#certify .c-div860 { width: 860px; margin-left: auto; margin-right: auto;}
#certify .c-tit { font-size: 187.5% !important; font-weight: bold; text-align: center; padding: 30px 0 8px; position: relative; margin-bottom: 10px; }
#certify .c-tit span { border-bottom: solid 5px #ffff00; line-height:1.7em;}
#certify .c-tit1 { background: #6CBA5A; color: #fff; font-size: 187.5% !important; font-weight: bold; line-height: 140%; text-align: center; padding: 12px 0; position: relative; margin-top: 40px; margin-bottom: 20px; }
#certify .c-tit1:after { display: block; content: ""; position: absolute; bottom: -21px; left: 50%; margin-left: -22px; border-top: 21px solid #6CBA5A; border-left: 22px solid transparent; border-right: 22px solid transparent; }
#certify .c-tit2 { position: relative; height:158px; width:100%;  margin: 0;}
#certify .c-tit2 .word { background: url("/images/certify/img-02.png") no-repeat right; margin: 0; padding:0;}
#certify .c-tit2 .word dt{ background: url("/images/svg/logo_word.svg") no-repeat  50px 23px; background-size:110px; height:158px; text-align: left ;padding:0; }
#certify .c-tit2 .word dt h3{ padding: 50px 0 0 200px; color: #205289; font-size:200%; }
#certify .c-tit2 .excl { background: url("/images/certify/img-04.png") no-repeat right; margin: 0; padding:0;}
#certify .c-tit2 .excl dt{ background: url("/images/svg/logo_excel.svg") no-repeat  50px 23px; background-size:110px; height:158px; text-align: left ;padding:0; }
#certify .c-tit2 .excl dt h3{ padding: 50px 0 0 200px; color: #2E6844; font-size:200%; }
#certify .c-tit2 .powp { background: url("/images/certify/img-06.png") no-repeat right; margin: 0; padding:0}
#certify .c-tit2 .powp dt{ background: url("/images/svg/logo_pp.svg") no-repeat  50px 23px; background-size:110px; height:158px; text-align: left ;padding:0; }
#certify .c-tit2 .powp dt h3{ padding: 50px 0 0 200px; color: #C14631; font-size:200%; }
#certify .c-tit2 dt span{ font-size:50%; vertical-align: middle; }
#certify .c-tit2 dd{ position: absolute; left:0; top: 100px; text-align: left; margin-left: 200px; font-size:120%; }
#certify .c-tit3 .icon_woman,#certify .c-tit4 .icon_woman{ position: absolute; left: 30px; top:10px;}
#certify .c-tit3 { background: #9E9E9F; font-size: 100%; font-weight: bold; color: #FFFFFF; padding: 0 100px;}
#certify .c-tit4 { background: #EF8337; font-size: 100%; font-weight: bold; color: #FFFFFF; padding: 0 100px;}
#certify .c-tit5 { font-size: 150%; font-weight: bold;  padding: 15px 0 20px 170px;}
#sima_list{ width:100%; display:flex; justify-content:center; padding:0; list-style: none; }
#sima_list a{ text-align:center; font-weight: bold; font-size: 100%; color: #000000; text-decoration: none; display:block;}
#sima_list a:hover{opacity:0.8;}
#sima_list span{ font-size:130%;}
#sima_list .box1{ width:calc(100% / 3); padding: 10px 0; border-radius: 5px; margin-right: 10px;}
.word_sima{ background-size: 30px 30px; background-attachment: fixed; background-image: linear-gradient(-45deg,#BBE1EC 25%,#C8E7F2 25%,#C8E7F2 50%,#BBE1EC 50%,#BBE1EC 75%,#C8E7F2 75%,#C8E7F2);}
.excl_sima{ background-size: 30px 30px; background-attachment: fixed; background-image: linear-gradient(-45deg,#BEDFC2 25%,#C8E6C8 25%,#C8E6C8 50%,#BEDFC2 50%,#BEDFC2 75%,#C8E6C8 75%,#C8E6C8);}
.powp_sima{ background-size: 30px 30px; background-attachment: fixed; background-image: linear-gradient(-45deg,#EAB5A9 25%,#EDC1B7 25%,#EDC1B7 50%,#EAB5A9 50%,#EAB5A9 75%,#EDC1B7 75%,#EDC1B7);}
#certify .c-trouble { position: relative; background: #FFFFFF; padding: 30px 0; filter: drop-shadow(2px 2px 1px rgba(200,200,200,1));}
#certify .trouble_a { width: 50%; display: inline-block; vertical-align: top; margin: 30px 30px;}
#certify .trouble_a li{ list-style: url(/images/certify/ico-check.png) inside; font-size:100%; line-height:200%;}
#certify .trouble_b { width: 40%; display: inline-block; vertical-align: top; text-align:right;}
#certify .trouble_b img{ width: 100%; height: 200px; object-fit: cover;}
#certify .table_tit { display: block;font-size: 130%; margin:3px 0 0 0; padding: 0; float: left;}
#certify .table_wordtit { background:  url(/images/certify/ico-wo02.png) no-repeat; margin-top:25px;}
#certify .table_word { margin: 10px 50px 0 50px; background: #EBEBF0; padding: 10px 0; border-left:8px solid #3D62AC;}
#certify .table_excltit { background:  url(/images/certify/ico-ex02.png) no-repeat; margin-top:25px;}
#certify .table_excl { margin: 10px 50px 0 50px; background: #EBEBF0; padding: 10px 0; border-left:8px solid #2E6844;}
#certify .table_powptit { background:  url(/images/certify/ico-pp02.png) no-repeat; margin-top:25px;}
#certify .table_powp { margin: 10px 50px 0 50px; background: #EBEBF0; padding: 10px 0; border-left:8px solid #C14631;}
#certify .table_word .word_sima,#certify .table_excl .excl_sima ,#certify .table_powp .powp_sima  { padding: 10px; }
#certify table { font-size:90%; line-height:1.7em;}
#certify table th { vertical-align: middle;}
#certify .marker_word { display: block; color: #FFFFFF; background-color:#3D62AC; border:1px solid #3D62AC; padding:0 10px; margin: 0 15px 0 5px ;float: left;}
#certify .marker_excl { display: block; color: #FFFFFF; background-color:#2E6844; border:1px solid #2E6844; padding:0 10px; margin: 0 15px 0 5px ;float: left;}
#certify .marker_powp { display: block; color: #FFFFFF; background-color:#C14631; border:1px solid #C14631; padding:0 10px; margin: 0 15px 0 5px ;float: left;}
#certify .gr{ padding: 8px 10px; width: 30% 70%}
#certify .wi{ background: #FFFFFF; padding: 8px 10px ; }
#certify .td-width { width: 18%;}
.c-block1 { margin-top:40px;}
.c-block1 table { width: 100%; border-collapse: separate; border-spacing: 3px; margin-bottom: 12px; table-layout: fixed;}
.c-block1 thead th { color: #fff; background: #9E9E9F; font-size: 131.2% !important; font-weight: bold; text-align: center; padding: 10px; }
.c-block1 thead th.pc4353 { background: #eb6100; color: #fff; }
.c-block1 tbody th { font-weight: bold; text-align: left; font-size: 106.2% !important; vertical-align: middle; color: #000; background: #dcdcdc; }
.c-block1 tbody td { background: #EBEBF0; vertical-align: middle; font-size: 106.2% !important; }
.c-block1 tbody td.pc4353 { background: #ffdfa0; }
.c-block1 dangumi{ display: table;}
.c-block1 dangumi element{ display: table-cell; width:50%; text-align: left;}
.c-block1 tbody td span { display: block; font-size: 75% !important; }
.c-block1 tbody td p { background: url(/images/certify/ico-maru.png) no-repeat left center; padding-left: 60px; }
.c-block1 tbody th, .c-block1 tbody td { padding: 15px 20px; }
.c-block2 { padding-top: 40px; background: url(/images/certify/cert_bg1.png) repeat-x center top; }
.c-block2 .cert_btn1 { padding-bottom: 50px; }
.c-block2--box1 { position: relative; margin-left: -22px; }
.c-block2--box1 .box1 { float: left; width: 272px; margin-left: 22px; }
.c-block2--box1 .box1 h4 { font-size: 125% !important; font-weight: bold; color: #fff; text-align: center; background: #537cb4; border-radius: 5px; position: relative; margin-bottom: 18px; padding: 8px 0; }
.c-block2--box1 .box1 h4:after { display: block; content: ""; position: absolute; left: 50%; bottom: -12px; margin-left: -12px; border-top: 12px solid #537cb4; border-left: 12px solid transparent; border-right: 12px solid transparent; }
.c-block2--box1 .box1 .img1 { border: 1px solid #a1b4ce; border-bottom: 0; border-radius: 5px 5px 0 0; text-align: center; }
.c-block2--box1 .box1 .txt1 { border-radius: 0 0 5px 5px; border: 1px solid #a1b4ce; border-top: 0; background: #e5e5e5; padding: 8px; }
.c-block2--box1 .box1 .txt1 p { font-size: 87.5% !important; line-height: 160%; }
.c-block3 { background: url(/images/certify/cert_bg2.png) center top; padding: 28px 0 40px; }
.c-block3 .box1 { margin-bottom: 50px; }
.c-block3 .box1 h4 { margin-bottom: 15px; }
.c-block3 .box2 { border: 1px solid #555; background: #fff; text-align: center; padding: 13px 0; }
.c-block3 .box2 p { font-size: 150% !important; line-height: 160%; }
.c-block3 .box2 p strong { font-weight: bold; }
.c-block3 .box2 p em { font-weight: bold; font-style: normal; color: #f00; }
.c-block4 { padding: 35px 0 45px; }
.c-block4 h3 { font-size: 218.7% !important; font-weight: bold; line-height: 140%; margin-bottom: 26px; text-align: center; }
.c-block4 h3 span { display: inline-block; *display: inline; *zoom: 1; border-bottom: 5px solid #f8e80d; padding: 0 55px 8px; }
.c-block4 .img1 { float: left; width: 434px; }
.c-block4 .txt1 { float: right; width: 370px; background: url(/images/certify/cert_bg2.png) center top; border-radius: 10px; padding: 16px; }
.c-block4 .txt1 h4 { background: #2580b7; color: #fff; font-weight: normal; line-height: 150%; font-size: 125% !important; padding: 8px 12px; margin-bottom: 15px; border-radius: 8px; }
.c-block4 .txt1 p { font-size: 131.2% !important; font-weight: bold; line-height: 140%; margin-bottom: 15px; }
.c-block4 .txt1 h5 { color: #eb6100; font-size: 370%; line-height: 110%; font-weight: bold; }
.c-block4 .txt1 h5 small { font-size: 56.2% !important; }


#contents {width: 100% !important;padding: 0 !important;}
#contents #kasou {padding: 0 !important;}
#main {width: 100%; float:none; margin: 0 auto;}
.c-wrap { width: 1000px; margin-left: auto; margin-right: auto; }
.c-wrap2 { width: 860px; margin-left: auto; margin-right: auto; }
