/*========================================
ヘッダー
=========================================*/
.l-header{}

/*　ロゴ部分
-----------------------------------------*/
.c-header{

	&__block1{
		width: 100%;
		margin: 10px auto;
		h1{ padding: 0 3%; }
		h2{
			font-size: 140%;
			color: #19434A;
			line-height: 130%;
			padding: 2% 3%;
			span{
				&.small{ font-size: 90%; }
				&.italic{ font-size: 115%; font-style: italic; }
			}
		}
	}

	&__block2{
		background: #1D2087;
		padding: 30px 0;
		h2{
			text-align: center;
			img{ max-width: 90%; height: auto; }
		}

		&__box1{
			width: 95%;
			margin: 0 auto;
			padding-bottom: 85%;
			background: url("img/head_bg01.png") right bottom no-repeat;
			background-size: 85%;

			p.mid{ text-align: center; margin-top: 30px;
				img{ max-width: 90%; height: auto; }
			}

			&__in{
				width: 100%;
				margin: 40px 0 30px 0;
				h4{ text-align: center;
					img{ max-width: 80%; height: auto; }
				}
				h5{ text-align: center; margin: 30px 0;
					img{ max-width: 90%; height: auto; }
				}
				h6{
					width: 238px;
					min-height: 215px;
					font-size: 170%;
					font-weight: normal;
					color: #FFF;
					text-align: center;
					background: url("img/head_img05.png") center top no-repeat;
					display: block;
					padding-top: 2%;
					margin: 0 auto;
				}
			}

		}

	}

	&__block3{
		width: 100%;
		background: #F2F7FD;
		&__box1{
			width: 100%;
			min-height: 450px;
			background: url("img/bg01.png") center bottom no-repeat;
			background-size: 100%;
			margin: 0 auto;
			h3{
				text-align: center;
				padding-top: 8%;
				img{ max-width: 80%; height: auto; }
			}
			h4{
				font-size: 125%;
				line-height: 120%;
				color: #E85282;
				margin: 7% 0 5% 0;
				text-align: center;
				span{ display: inline-block; margin-left: 10px; }
			}
		}
	}

	&__block4, .c-index-block3{
		width: 100%;
		background: #1D2087;

		&__wrap{width: 95%; margin: 20px auto;
			h5{ width: 30%; display: inline-block; float: left;
				img{ max-width: 90%; height: auto; }
			}
		}

		&__box1{
			width: 70%;
			display: inline-block;
			margin: 10px 0 0 0;
			float: left;
			p{ font-size: 88%; font-weight: bold; line-height: 100%; color: #FFF; display: inline-block; margin-bottom: 10px; }
			h5{
				width: 95%;
				img{ max-width: 100%; height: auto; }
			}
		}
	}

	&__block5{
		background: url("img/bg_02.png") left top;
		padding: 40px 0 40px;
		h3{ text-align: center;
			img{ max-width: 90%; height: auto; }
		}
		h4{ text-align: center; margin: 25px 0 0 0;
			img{ max-width: 90%; height: auto; }
		}
	}

	&__block6{
		width: 100%;
		background: url("img/bg_03.png") center top no-repeat;
		padding: 10% 0 20%;
		position: relative;
		z-index: 100;
		h3{ width: 90%; font-size: 165%; color: #FFF; text-align: center; line-height: 100%; margin: 0 auto; }
		h4{ width: 90%; font-size: 195%; color: #FFF; text-align: center; line-height: 100%; padding-top: 20px; margin: 0 auto; }
	}

}
