php_value mbstring.internal_encoding UTF-8
php_value mbstring.http_input UTF-8
php_value mbstring.http_output UTF-8
php_value mbstring.script_encoding UTF-8
php_flag mbstring.encoding_translation 0
