@charset "UTF-8";
/*******************************************************************
初期設定
********************************************************************/
/*=======================================
normalize v3.0.3
=========================================*/
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: .67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/* 追加
-----------------------------------------*/
body { -webkit-text-size-adjust: 100%; font-size: 13px; }

h1, h2, h3, h4, h5, h6, div, p, ul, ol, dl, dt, dd, form { font-size: 1em; padding: 0; line-height: 1.6; text-align: left; display: block; margin: 0px; }

table { line-height: 1.6; font-size: 1em; margin: 0; empty-cells: show; }

img { border: none; vertical-align: bottom; }

div:before, div:after, ul:before, ul:after, dl:before, dl:after { content: ""; display: table; }

div:after, ul:after, dl:after { clear: both; }

div, ul, dl { zoom: 1; }

ul li { list-style: none; }

img { max-width: 100%; height: auto; }

/*=======================================
文字色・リンク
=========================================*/
body { color: #333; font-size: 13px; }

a:link, a:visited { text-decoration: underline; color: #333; }

a:hover, a:active { text-decoration: none; color: #333; }

a img { -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -o-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out; }

a:hover img { opacity: 0.80; filter: alpha(opacity=80); -ms-filter: "alpha(opacity=80)"; }

/*******************************************************************
レイアウト
********************************************************************/
/*========================================
ヘッダー
=========================================*/
/* 背景
-----------------------------------------*/
.l-header-bg1 { background: url("../img/bg_01.png"); min-width: 1500px; }

.l-header-bg2 { background: url("../img/bg_02.png") center 0 repeat-x; min-height: 800px; min-width: 1500px; }

/* ロゴ
-----------------------------------------*/
.c-head-logo { max-width: 1500px; width: 100%; margin: 0 auto; display: table; }
.c-head-logo h1, .c-head-logo ul { display: table-cell; vertical-align: middle; }
.c-head-logo h1 { width: 130px; }
.c-head-logo ul { padding: 0 15px 0 0; text-align: right; }
.c-head-logo li { display: inline-block; margin: 0 0 0 24px; }
.c-head-logo li a { background: url("../img/icon_01.png") 0 47% no-repeat; padding: 0 0 0 22px; font-weight: bold; font-size: 20px; text-decoration: none; }
.c-head-logo li a:hover { text-decoration: underline; }

/* アニメーション
-----------------------------------------*/
@-webkit-keyframes img-op { 0% { opacity: 1; }
  50% { opacity: 0.80; }
  100% { opacity: 1; } }
@-moz-keyframes img-op { 0% { opacity: 1; }
  50% { opacity: 0.80; }
  100% { opacity: 1; } }
@-ms-keyframes img-op { 0% { opacity: 1; }
  50% { opacity: 0.80; }
  100% { opacity: 1; } }
@keyframes img-op { 0% { opacity: 1; }
  50% { opacity: 0.80; }
  100% { opacity: 1; } }
@-webkit-keyframes img-v { 0% { transform: translateY(-3px); }
  100% { transform: translateY(3px); } }
@-moz-keyframes img-v { 0% { transform: translateY(-3px); }
  100% { transform: translateY(3px); } }
@-ms-keyframes img-v { 0% { transform: translateY(-3px); }
  100% { transform: translateY(3px); } }
@keyframes img-v { 0% { transform: translateY(-3px); }
  100% { transform: translateY(3px); } }
/* ====keyframes==== */
@-webkit-keyframes topMainVisualH1Action { 0% { opacity: 0; top: 31.4%; }
  38% { opacity: 0; top: 31.4%; }
  100% { opacity: 1; top: 30%; } }
@-moz-keyframes topMainVisualH1Action { 0% { opacity: 0; top: 31.4%; }
  38% { opacity: 0; top: 31.4%; }
  100% { opacity: 1; top: 30%; } }
@-ms-keyframes topMainVisualH1Action { 0% { opacity: 0; top: 31.4%; }
  38% { opacity: 0; top: 31.4%; }
  100% { opacity: 1; top: 30%; } }
@keyframes topMainVisualH1Action { 0% { opacity: 0; top: 31.4%; }
  38% { opacity: 0; top: 31.4%; }
  100% { opacity: 1; top: 30%; } }
/* タイトル
-----------------------------------------*/
.c-head-title { width: 1500px; height: 1020px; position: relative; margin: 0 auto 0 auto; }
.c-head-title h2 { text-align: center; margin: 34px 0 0 0; }
.c-head-title span { display: block; position: absolute; }
.c-head-title p { text-align: center; position: absolute; bottom: 40px; left: 0px; width: 100%; }
.c-head-title .n1 { top: 95px; left: 0px; -webkit-animation: img-op 3.6s infinite ease-in-out alternate, img-v 1.2s infinite ease-in-out alternate; -moz-animation: img-op 3.6s infinite ease-in-out alternate, img-v 1.2s infinite ease-in-out alternate; -ms-animation: img-op 3.6s infinite ease-in-out alternate, img-v 1.2s infinite ease-in-out alternate; -o-animation: img-op 3.6s infinite ease-in-out alternate, img-v 1.2s infinite ease-in-out alternate; animation: img-op 3.6s infinite ease-in-out alternate, img-v 1.2s infinite ease-in-out alternate; }
.c-head-title .n2 { top: 225px; left: 175px; -webkit-animation: img-op 3.4s infinite ease-in-out alternate, img-v 1.4s infinite ease-in-out alternate; -moz-animation: img-op 3.4s infinite ease-in-out alternate, img-v 1.4s infinite ease-in-out alternate; -ms-animation: img-op 3.4s infinite ease-in-out alternate, img-v 1.4s infinite ease-in-out alternate; -o-animation: img-op 3.4s infinite ease-in-out alternate, img-v 1.4s infinite ease-in-out alternate; animation: img-op 3.4s infinite ease-in-out alternate, img-v 1.4s infinite ease-in-out alternate; }
.c-head-title .n3 { top: 518px; left: 0px; -webkit-animation: img-op 3.2s infinite ease-in-out alternate, img-v 1.6s infinite ease-in-out alternate; -moz-animation: img-op 3.2s infinite ease-in-out alternate, img-v 1.6s infinite ease-in-out alternate; -ms-animation: img-op 3.2s infinite ease-in-out alternate, img-v 1.6s infinite ease-in-out alternate; -o-animation: img-op 3.2s infinite ease-in-out alternate, img-v 1.6s infinite ease-in-out alternate; animation: img-op 3.2s infinite ease-in-out alternate, img-v 1.6s infinite ease-in-out alternate; }
.c-head-title .n4 { top: 675px; left: 240px; -webkit-animation: img-op 3s infinite ease-in-out alternate, img-v 1.8s infinite ease-in-out alternate; -moz-animation: img-op 3s infinite ease-in-out alternate, img-v 1.8s infinite ease-in-out alternate; -ms-animation: img-op 3s infinite ease-in-out alternate, img-v 1.8s infinite ease-in-out alternate; -o-animation: img-op 3s infinite ease-in-out alternate, img-v 1.8s infinite ease-in-out alternate; animation: img-op 3s infinite ease-in-out alternate, img-v 1.8s infinite ease-in-out alternate; }
.c-head-title .n5 { top: 518px; left: 416px; -webkit-animation: img-op 3.1s infinite ease-in-out alternate, img-v 2s infinite ease-in-out alternate; -moz-animation: img-op 3.1s infinite ease-in-out alternate, img-v 2s infinite ease-in-out alternate; -ms-animation: img-op 3.1s infinite ease-in-out alternate, img-v 2s infinite ease-in-out alternate; -o-animation: img-op 3.1s infinite ease-in-out alternate, img-v 2s infinite ease-in-out alternate; animation: img-op 3.1s infinite ease-in-out alternate, img-v 2s infinite ease-in-out alternate; }
.c-head-title .n6 { top: 613px; left: 625px; -webkit-animation: img-op 3.3s infinite ease-in-out alternate, img-v 2.2s infinite ease-in-out alternate; -moz-animation: img-op 3.3s infinite ease-in-out alternate, img-v 2.2s infinite ease-in-out alternate; -ms-animation: img-op 3.3s infinite ease-in-out alternate, img-v 2.2s infinite ease-in-out alternate; -o-animation: img-op 3.3s infinite ease-in-out alternate, img-v 2.2s infinite ease-in-out alternate; animation: img-op 3.3s infinite ease-in-out alternate, img-v 2.2s infinite ease-in-out alternate; }
.c-head-title .n7 { top: 515px; left: 960px; -webkit-animation: img-op 3.5s infinite ease-in-out alternate, img-v 1.1s infinite ease-in-out alternate; -moz-animation: img-op 3.5s infinite ease-in-out alternate, img-v 1.1s infinite ease-in-out alternate; -ms-animation: img-op 3.5s infinite ease-in-out alternate, img-v 1.1s infinite ease-in-out alternate; -o-animation: img-op 3.5s infinite ease-in-out alternate, img-v 1.1s infinite ease-in-out alternate; animation: img-op 3.5s infinite ease-in-out alternate, img-v 1.1s infinite ease-in-out alternate; }
.c-head-title .n8 { top: 675px; left: 1090px; -webkit-animation: img-op 3.7s infinite ease-in-out alternate, img-v 1.3s infinite ease-in-out alternate; -moz-animation: img-op 3.7s infinite ease-in-out alternate, img-v 1.3s infinite ease-in-out alternate; -ms-animation: img-op 3.7s infinite ease-in-out alternate, img-v 1.3s infinite ease-in-out alternate; -o-animation: img-op 3.7s infinite ease-in-out alternate, img-v 1.3s infinite ease-in-out alternate; animation: img-op 3.7s infinite ease-in-out alternate, img-v 1.3s infinite ease-in-out alternate; }
.c-head-title .n9 { top: 225px; left: 1080px; -webkit-animation: img-op 3.9s infinite ease-in-out alternate, img-v 1.5s infinite ease-in-out alternate; -moz-animation: img-op 3.9s infinite ease-in-out alternate, img-v 1.5s infinite ease-in-out alternate; -ms-animation: img-op 3.9s infinite ease-in-out alternate, img-v 1.5s infinite ease-in-out alternate; -o-animation: img-op 3.9s infinite ease-in-out alternate, img-v 1.5s infinite ease-in-out alternate; animation: img-op 3.9s infinite ease-in-out alternate, img-v 1.5s infinite ease-in-out alternate; }
.c-head-title .n10 { top: 518px; left: 1337px; -webkit-animation: img-op 2.9s infinite ease-in-out alternate, img-v 1.7s infinite ease-in-out alternate; -moz-animation: img-op 2.9s infinite ease-in-out alternate, img-v 1.7s infinite ease-in-out alternate; -ms-animation: img-op 2.9s infinite ease-in-out alternate, img-v 1.7s infinite ease-in-out alternate; -o-animation: img-op 2.9s infinite ease-in-out alternate, img-v 1.7s infinite ease-in-out alternate; animation: img-op 2.9s infinite ease-in-out alternate, img-v 1.7s infinite ease-in-out alternate; }
.c-head-title .n11 { top: 95px; left: 1337px; -webkit-animation: img-op 3.8s infinite ease-in-out alternate, img-v 1.9s infinite ease-in-out alternate; -moz-animation: img-op 3.8s infinite ease-in-out alternate, img-v 1.9s infinite ease-in-out alternate; -ms-animation: img-op 3.8s infinite ease-in-out alternate, img-v 1.9s infinite ease-in-out alternate; -o-animation: img-op 3.8s infinite ease-in-out alternate, img-v 1.9s infinite ease-in-out alternate; animation: img-op 3.8s infinite ease-in-out alternate, img-v 1.9s infinite ease-in-out alternate; }

/*========================================
フッター
=========================================*/
/* ロゴ
-----------------------------------------*/
.c-foot-logo { text-align: center; padding: 30px 0 0 0; }
.c-foot-logo a { display: inline-block; }
.c-foot-logo p { text-align: center; font-size: 18px; margin: 20px 0 0 0; }

/* コピーライト
-----------------------------------------*/
.c-foot-copy { border-top: 1px solid #DDD; margin-top: 30px; padding: 30px 0 28px 0; }
.c-foot-copy p { text-align: center; }
.c-foot-copy a { text-decoration: none; }
.c-foot-copy a:hover { text-decoration: underline; }

/*========================================

=========================================*/
.sp-only { display: none !important; }

/*
-----------------------------------------*/
body { min-width: 1500px; }

/*******************************************************************
パーツ
********************************************************************/
/*========================================
一覧
=========================================*/
/* 受講生の声
-----------------------------------------*/
.c-voice { background: url("../img/icon_07.png") 97% 10px no-repeat #FFF; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 8px; border-radius: 8px; }
.c-voice a { text-decoration: none; }
.c-voice__img { float: left; width: 150px; margin: 0 10px 3px 0; }
.c-voice__img p { margin-top: 0; }
.c-voice__txt { display: inline; }
.c-voice h5, .c-voice h6 { font-size: 18px; color: #E8437F; margin: -5px 0 8px 0; display: inline; }
.c-voice a:hover h5 { text-decoration: underline; }
.c-voice dl { margin: 0px 0 8px 0; }
.c-voice dl:after { display: none; }
.c-voice dt, .c-voice dd { font-weight: bold; font-size: 13px; line-height: 160%; }
.c-voice p { text-align: left !important; font-size: 14px; }

.c-voice-list { width: 1000px; margin: 20px auto 0 auto; }
.c-voice-list .c-voice { width: 490px; float: left; margin: 0 0 20px 20px; }
.c-voice-list .c-voice:nth-child(2n+1) { clear: left; margin-left: 0; }

/*========================================
スライド
=========================================*/
/* 1
-----------------------------------------*/
.c-slide1 { position: relative; width: 100%; }
.c-slide1 .bx-wrapper { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.c-slide1 .bx-viewport { padding-bottom: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.c-slide1 .bx-controls-direction a { display: block; width: 60px; height: 60px; top: 50%; margin: -30px 0 0 0; position: absolute; display: block; white-space: nowrap; text-indent: 100%; overflow: hidden; }
.c-slide1 .bx-prev { left: -90px; background: url("../img/icon_03.png") 0 0 no-repeat; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; }
.c-slide1 .bx-next { right: -90px; background: url("../img/icon_04.png") 0 0 no-repeat; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; }

/* 2
-----------------------------------------*/
.c-slide2 { position: relative; width: 1000px; margin-left: auto; margin-right: auto; }
.c-slide2__card { background: #FFF; }
.c-slide2 .bx-wrapper { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.c-slide2 .bx-viewport { padding-bottom: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.c-slide2 .bx-controls-direction a { display: block; width: 60px; height: 60px; top: 50%; z-index: 5000; margin: -30px 0 0 0; position: absolute; display: block; white-space: nowrap; text-indent: 100%; overflow: hidden; }
.c-slide2 .bx-prev { left: -90px; background: url("../img/icon_05.png") 0 0 no-repeat; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; }
.c-slide2 .bx-next { right: -90px; background: url("../img/icon_06.png") 0 0 no-repeat; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; }

.c-slide2-pager { width: 1000px; margin: 20px auto 0 auto; background: url("../img/bg_04.png"); padding: 10px 0 10px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.c-slide2-pager li { float: left; margin: 0 0 0 10px; }
.c-slide2-pager li:nth-child(10n+1) { margin-left: 0; clear: left; }

/*******************************************************************
ページ個別
********************************************************************/
/*========================================
トップ
=========================================*/
/* すべての世代にITスキルを
-----------------------------------------*/
.p-top1 { margin-top: 100px; }
.p-top1 h3 { text-align: center; }
.p-top1 p { text-align: center; margin-top: 40px; }
.p-top1 ul { width: 1100px; margin: 25px auto 0 auto; }
.p-top1 li { float: left; margin: 0 0 60px 10px; }
.p-top1 li:nth-child(4n+1) { margin-left: 0; clear: left; }

/* 15周年記念クーポンプレゼント
-----------------------------------------*/
.l-top2 { background: #99DADF; margin: 30px 0 0 0; padding: 70px 0; }

.p-top2 { width: 1150px; margin: 0 auto; }
.p-top2__wrap { position: relative; }
.p-top2__wrap span { position: absolute; top: -30px; left: 170px; }
.p-top2 h3 { text-align: center; }
.p-top2 h4 { text-align: center; margin: 30px 0 0 0; }
.p-top2 p { text-align: center; margin: 10px 0 0 0; }
.p-top2 .c-slide1 { margin-top: 35px; }

/* 15周年記念イベント
-----------------------------------------*/
.l-top3 { padding: 70px 0; background: url("../img/bg_03.jpg") 0 0 no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }

.p-top3 { width: 1150px; margin: 0 auto; }
.p-top3 h3 { text-align: center; }
.p-top3 h4 { text-align: center; margin: 30px 0 0 0; }
.p-top3 p { text-align: center; margin: 10px 0 0 0; }
.p-top3 ul { width: 1000px; margin: 30px auto 0 auto; }
.p-top3 li { margin: 0 0 0 19px; float: left; }
.p-top3 li:nth-child(3n+1) { margin-left: 0; clear: left; }

/* 受講生の声
-----------------------------------------*/
.l-top4 { background: #F4AAC6; padding: 70px 0; }

.p-top4 { width: 1150px; margin: 0 auto; }
.p-top4 h3 { text-align: center; }
.p-top4 h4 { text-align: center; margin: 30px 0 10px 0; }
.p-top4 p { text-align: center; }
.p-top4 .c-slide2 { margin-top: 35px; }
.p-top4 .c-voice { min-height: 360px; }
.p-top4 p.u-small { font-size: 12px; }

/*========================================
受講生の声
=========================================*/
/*
-----------------------------------------*/
.p-voice h4 { text-align: center; }
.p-voice h5 { text-align: center; margin-top: 20px; }

/*
-----------------------------------------*/
.p-voice1 { padding: 50px 0; position: relative; }
.p-voice1 h3 { text-align: center; }
.p-voice1:after { content: ""; display: block; height: 29px; width: 100%; position: absolute; bottom: -29px; background: url("../img/icon_08.png") center 0 no-repeat; z-index: 1000; }

/*
-----------------------------------------*/
.p-voice2, .p-voice3, .p-voice4 { padding: 50px 0 30px 0; }

.p-voice2 { padding-top: 60px; background: url("../img/bg_05.jpg") 0 0 no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }

/*
-----------------------------------------*/
.p-voice3 { background: url("../img/bg_06.jpg") 0 0 no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.p-voice3 .c-voice { background-image: url("../img/icon_09.png"); }
.p-voice3 .c-voice h5, .p-voice3 .c-voice h6 { color: #14A3C5; }

/*
-----------------------------------------*/
.p-voice4 { background: url("../img/bg_07.jpg") 0 0 no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.p-voice4 .c-voice { background-image: url("../img/icon_10.png"); }
.p-voice4 .c-voice h5, .p-voice4 .c-voice h6 { color: #5BB115; }

/*******************************************************************
調整用
********************************************************************/
/*=======================================
余白
=========================================*/
.u-mt0 { margin-top: 0px !important; }

.u-mt5 { margin-top: 5px !important; }

.u-mt10 { margin-top: 10px !important; }

.u-mt15 { margin-top: 15px !important; }

.u-mt20 { margin-top: 20px !important; }

.u-mt25 { margin-top: 25px !important; }

.u-mt30 { margin-top: 30px !important; }

.u-mt35 { margin-top: 35px !important; }

.u-mt40 { margin-top: 40px !important; }

.u-mt45 { margin-top: 45px !important; }

.u-mt50 { margin-top: 50px !important; }

.u-mt55 { margin-top: 55px !important; }

.u-mb0 { margin-bottom: 0px !important; }

.u-mb5 { margin-bottom: 5px !important; }

.u-mb10 { margin-bottom: 10px !important; }

.u-mb15 { margin-bottom: 15px !important; }

.u-mb20 { margin-bottom: 20px !important; }

.u-mb25 { margin-bottom: 25px !important; }

.u-mb30 { margin-bottom: 30px !important; }

.u-mb35 { margin-bottom: 35px !important; }

.u-mb40 { margin-bottom: 40px !important; }

.u-mb45 { margin-bottom: 45px !important; }

.u-mb50 { margin-bottom: 50px !important; }

.u-mb55 { margin-bottom: 55px !important; }

/*=======================================
テキスト色
=========================================*/
/*=======================================
アンカー位置調整
=========================================*/
.u-anchor { margin-top: -48px; padding-top: 48px; }

/*=======================================
制作時用 browser-sync
=========================================*/
#__bs_notify__ { opacity: 0.3 !important; font-size: 5px !important; line-height: 100% !important; padding: 0 5px 0 5px !important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
