//============================================
// 色
//============================================
$color:		#0068B8;



//============================================
// サイト幅でセンタリング
//============================================
@mixin center{
	width: $w;
	margin-left: auto;
	margin-right: auto;
}

//============================================
// aタグ hover時のみ下線をつける
//============================================
@mixin link_noline{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

//============================================
// テキスト置換
//============================================
@mixin hide_text {
	display: block;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}

//============================================
// jQueryAutoHeight.jsにて揃えられたmin-heightをリセット
// PCサイトでは高さを揃えるが、スマホサイトでは高さ自由にする場合など。
//============================================
@mixin reset_height {
	min-height: initial !important;
	min-height: auto !important;
}

//============================================
// YUI Fonts CSSによるフォントサイズ指定
// fs12 = font-size:12px に相当します
//============================================
@mixin fs8	{ font-size: 50% !important;}
@mixin fs9	{ font-size: 56.2% !important;}
@mixin fs10	{ font-size: 62.5% !important;}
@mixin fs11	{ font-size: 68.7% !important;}
@mixin fs12	{ font-size: 75% !important;}
@mixin fs13	{ font-size: 81.2% !important;}
@mixin fs14	{ font-size: 87.5% !important;}
@mixin fs15	{ font-size: 93.7% !important;}

@mixin fs16	{ font-size: 100% !important;}

@mixin fs17	{ font-size: 106.2% !important;}
@mixin fs18	{ font-size: 112.5% !important;}
@mixin fs19	{ font-size: 118.7% !important;}
@mixin fs20	{ font-size: 125% !important;}
@mixin fs21	{ font-size: 131.2% !important;}
@mixin fs22	{ font-size: 137.5% !important;}
@mixin fs23	{ font-size: 143.7% !important;}
@mixin fs24	{ font-size: 150% !important;}
@mixin fs25	{ font-size: 156.2% !important;}
@mixin fs26	{ font-size: 162.5% !important;}
@mixin fs27	{ font-size: 168.7% !important;}
@mixin fs28	{ font-size: 175% !important;}
@mixin fs29	{ font-size: 181.2% !important;}
@mixin fs30	{ font-size: 187.5% !important;}
@mixin fs31	{ font-size: 193.7% !important;}
@mixin fs32	{ font-size: 200% !important;}
@mixin fs33	{ font-size: 206.2% !important;}
@mixin fs34	{ font-size: 212.5% !important;}
@mixin fs35	{ font-size: 218.7% !important;}
@mixin fs36	{ font-size: 225% !important;}
@mixin fs37	{ font-size: 231.2% !important;}
@mixin fs38	{ font-size: 237.5% !important;}
@mixin fs39	{ font-size: 243.7% !important;}
@mixin fs40	{ font-size: 250% !important;}



//============================================
// font
//============================================
@mixin mincho {font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "リュウミン R-KL", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;}

@mixin gothic {font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ　Ｐゴシック", "MS PGothic", sans-serif;}


//============================================
// clearfix
//============================================
@mixin clearfix {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// inline-block
//============================================
@mixin inline-block{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

//============================================
// transition
//============================================
@mixin transition($value: .2s ease all) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	transition: $value;
}

//============================================
// opacity
//============================================
@mixin opacity($value: .7) {
	opacity: $value;
	-ms-filter: "alpha(opacity=#{$value*100})";
	filter: alpha(opacity=$value*100);
}

//============================================
// box-sizing
//============================================
@mixin box-sizing($value: border-box) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	        box-sizing: $value;
}