
/* =======================================
記事詳細
========================================*/
#entry{margin:0 auto;}
#entry_title{margin:0 0 30px;border-bottom:1px solid #ccc;padding:0 0 12px;}
#entry_title h3{padding:2px 0;font-size:130%;}
#entry_title span{font-size:85%;padding:2px 0;}
#entrybody{font-size:100%;margin-top:0;word-break:break-all;}
#entrybody ul,#entrybody ol{margin:12px 0 12px 2em;list-style-position:inside;text-align:left;}
#entrybody ol{}
#entrybody ul li{text-align:left;}
#entrybody ol li{text-align:left;}
#entrybody strong{font-weight:bold !important;}
#entrybody strong span{font-weight:bold !important;}
#entrybody span strong{font-weight:bold !important;}
#entrybody del strong{font-weight:bold !important;}
#entrybody em strong{font-weight:bold !important;}
#entrybody em{font-style:italic;}
#entrybody p{line-height:170%;margin:0 0 1.2em;}
td #entrybody p{margin-bottom:0;}
#entrybody em{font-style:italic !important;}
#entrybody blockquote{margin:15px 0 15px 24px;}
#entrybody img{margin:0 0 1em;}
#entrybody iframe{width:100%;height:auto;}
.alignleft,img.alignleft{display:inline;float:left;margin-right:24px;margin-top:4px;}
.alignright,img.alignright{display:inline;float:right;margin-left:24px;margin-top:4px;}
.aligncenter,img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
img.alignleft,img.alignright,img.aligncenter{margin-bottom: 12px;}
.wp-caption{border:none;background:#f1f1f1;color:#888;font-size:12px;line-height:18px;text-align:center;margin-bottom:20px;padding:4px;-moz-border-radius:0;-khtml-border-radius:0;-webkit-border-radius:0;border-radius:0;}
.wp-caption img{margin: 5px;}
.wp-caption p.wp-caption-text{margin:0 0 4px;}
.wp-smiley{margin:0;}
body#tinymce ul,body#tinymce ol{margin:0 0 0 1.5em;}
body#tinymce ul li{list-style:disc;}
body#tinymce ol li{list-style:decimal;}
#entrybody h1 {font-size: 200%;line-height: 150%;}
#entrybody h2 {font-size: 180%;line-height: 150%;}
#entrybody h3 {font-size: 150%;line-height: 150%;}
#entrybody h4 {font-size: 132%;line-height: 150%;}
#entrybody h5 {font-size: 116%;line-height: 150%;}
#entrybody h6 {font-size: 108%;line-height: 150%;}
#social{margin:30px 0 10px; clear:both;}
#social:before,#social:after{content:"";display:table;}
#social:after{clear:both;}
#social{zoom:1;}
#social li,#social div{float:left;}
#social li{border:0;}
#social .facebook{width:120px;}
#social .twitter{width:105px;}
#social .hatena{width:130px;}
#social .google{width:80px;}
#social .line img{width:88px;height:auto;}

#entry .fbcomments,
#entry .fb_iframe_widget,
#entry .fb_iframe_widget[style],
#entry .fb_iframe_widget iframe[style],
#entry .fbcomments iframe[style],
#entry .fb_iframe_widget span{width:100% !important;}




/* ----------------------------- ページネーション */
.pagination {
	clear: both;
	padding: 20px 0;
	position: relative;
	font-size: 14px;
	line-height: 14px;
	text-align: left;
	span, a {
		@include inline-block;
		width: auto;
		padding: 10px 14px;
		margin: 0 8px 8px 0;
		background: #fff;
		border: 1px solid #ccc;
		color: #333;
		text-decoration: none !important;
		cursor: pointer;
		&.current {
			background: #000;
			border-color: #000;
			color: #fff !important;
		}
	}
	a {
		&:link,
		&:visited {color: #333;}
		&:hover {
			background: #000;
			border-color: #000;
			color: #fff;
			@include opacity($value:1);
		}
		&.next,
		&.prev {
			background: transparent;
			border-color: transparent;
			padding-right: 8px;
			padding-left: 8px;
			&:hover {color: #333;}
		}
	}
}